@font-face {
  font-family: '3MCircularFontBold';
  src: url('3M Circular OTF/3MCircular-Bold.otf');
}

@font-face {
  font-family: '3MCircularFontBook';
  src: url('3M Circular OTF/3MCircular-Book.otf');
}

.RRR-nav{
  background-color: #fff;
  border-bottom-color: #16b316;
  border-bottom-width: 7px;
}

a.navbar-brand {
  font-size: 32px;
  font-family: '3MCircularFontBold', 'Jua', sans-serif;
}

h1,h2,h3,h4{
  font-family: '3MCircularFontBold', 'Jua', sans-serif;
}

.fun-fact-div {
    padding-bottom: 15px;
    border-top-color: #2aa922;
    border-top-width: 7px;
    border-top-style: solid;
}

.fun-fact-div img {
  max-height: 310px;
  margin: 0 auto;
}

body { 
  
  background-image: url('../images/pattern_white.png');
  background-size: contain;
  font-size: 16px;
  /*background-size: 100% 100%;*/
}


/******************** Game Header Section ********************/
#wrapper-table-header{
  display: table; 
  width: 100%;
}
#left-game-header{
  margin-top:10px; 
  margin-right:10px; 
  text-align: left; 
  width: 20%; 
  display: table-cell;
}
#mid-game-header{
  margin-top:10px; 
  margin-right:10px; 
  text-align: center; 
  width: 60%; 
  display: table-cell;
}
#right-game-header{
  margin-top:10px; 
  margin-right:10px; 
  text-align: center; 
  width: 20%; 
  display: table-cell;
}
/******************** End Game Header Section ********************/

/******************** Starts Game Recycle Bins Section ********************/

.myresults span {
  color: #fff;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#wrapper-table-rb{
  display: table; 
  width: 100%
}
.rb-lane{
  text-align: center;
  margin-bottom:10px; 
  width: 25%;
  display: table-cell;
}

.game-rb {
  width: 35%;
  min-width: 50px;
  position: relative;
}


/******************** End Game Recycle Bins Section ********************/

.footer a {
  color:#fff;
}
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #ffffff;
  height: 100px;
  padding-top: 15px;
  font-weight: bold;
  border-top: 7px solid;
  border-color: #16b316;
  border-style: solid none none none;
}
/*
Only needed when everything was empty?
*/
.content {
  min-height: calc(100vh - 50px);
 /* min-height: calc(93vh - 50px);*/
}

.logo {
  height: 70px;
}

p#total_games {
  color: #ffff00;
  font-family: '3MCircularFontBold', 'Jua', sans-serif;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 30px;
}

.red-text {
  color: red;
  font-weight: bold;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar-collapse {
    text-align: center;
}

ul { 
  /*font-size: 20px;
  font-weight: bold;*/
  
}
/******************** Landing Page********************/

/*.my-landing img:hover {
  opacity: 0.7;
}*/

.main-landing img {
  max-height: 510px;
  margin: 0 auto;
}

.landing-ops img {
  max-height: 210px;
  margin: 0 auto;
}

.gamebtn {
  background: #ffd000;
  border-width: 3px;
  border-color: #000;
  border-radius: 0px;
  margin: 20px 0;
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

.gamebtn:hover {
  background: green;
  border-color: #000;
}

.landing-ops a, .myhowto a {
  text-decoration: none;
}

.landing-ops img {
  max-height: 210px;
  margin: 0 auto;
}

/******************** Why Recycle? ********************/
.mymainff h2 {
  border-bottom-style: solid;
  border-bottom-color: red;
  border-bottom-width: 7px;
}

.mysecff h3 {
  border-bottom-style: solid;
  border-bottom-color: #0066ff;
  border-bottom-width: 4px;
}

h2.ff {
  border-bottom-color: green;
}

p.source {
  text-align: center;
  font-size: 12px;
}

p.source a {
  color: #7e7e7e;
}

.mysecff img {
  padding-top: 20px;
}

.mymainff img {
  width: 100%;
  background: #00b13b;
}

/******************** How To Page ********************/

.howto .row {
  margin-bottom: 30px;
  padding-bottom: 20px;
  /*border-bottom-style: solid;
  border-bottom-width: 7px;
  border-bottom-color: #ea0403;*/
}

.myhowto h2 {
  border-bottom: 7px red solid;
}

.myhowto button {
  margin: 13px;
}

.myhowtodesc img {
  max-width: 120px;
}

/******************** High Scores? ********************/

.ourscores h2 {
  border-bottom: 7px red solid;
  text-align: center;
}

.morescores h3 {
  border-bottom: 4px #555555 solid;
  color: #555555;
  text-align: center;
}

/******************** Tutorial ********************/
.tutorial img {
  margin: 0 auto;
  /*max-height: 420px;*/
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.tutorial img:hover {
  transition: opacity 0.3s;
  opacity: 1;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.tutorial img:not(:hover) {
  transition: opacity 0.3s;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

p.img-desc {
  text-align: center;
}

.waste-guide ol {
  list-style-position: inside;
}

/******************** Results Screen ********************/

.myworst h4 {
  color: #ff4a4a;
}

.mybest h4 {
  color: #00c000;
}

.results-item {
  width: 35%;
  min-width: 60px;
  margin: 0 auto;
}

span#results_score {
  font-size: 38px !important;
}

.resultbtn {
  background: #ffd000;
  border-width: 3px;
  border-color: #000;
  border-radius: 0px;
  margin: 20px 0;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  width: 70%;
  margin: 0 auto;
}

#main_results_div {
  background-color: #e7e7e7;
  position: absolute;  
  width: 100%;  
  top: 0; 
  left: 0; 
  z-index: 10;
  margin-bottom:900px;
  display:none;
  background-image: url('../images/game_bg_1.png');
}

#name_input_div {
  position: absolute;  
  width: 100%;
  height: 100%;  
  top: 0; 
  left: 0; 
  z-index: 10;
  /*margin-bottom:900px;*/
}

.playerform{
  text-align: center; 
  vertical-align: middle;
  margin-top: 11%;
}

.gray-bg{
  background: #333333;
}

#results_div{
  text-align: left; 
  padding-top: 170px;
  height: 100%; 
  padding-left: 33%; 
  padding-right: 33%;
  position: absolute; 
  z-index:11;
}

.myresults h2 {
  /*
  -webkit-text-stroke: 3px black;
   */
   font-size: 24px !important;
  font-weight: 900;
   color: #fff;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  /*Text Stoke : https://css-tricks.com/adding-stroke-to-web-text/*/
  }

  .myresults h3 {
    /*
    -webkit-text-stroke: 3px black;
     */
     font-size: 26px !important;
    font-weight: 900;
     color: #fff;
     text-shadow:
         3px 3px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    /*Text Stoke : https://css-tricks.com/adding-stroke-to-web-text/*/
    }
.mystats h4 {
  /*
  -webkit-text-stroke: 3px black;
   */
   font-size: 24px !important;
  font-weight: 900;
   color: #fff;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  /*Text Stoke : https://css-tricks.com/adding-stroke-to-web-text/*/
  }

.mystats p, .mystats i{
  /*
  -webkit-text-stroke: 3px black;
   */
   font-size: 20px !important;
  font-weight: 900;
   color: #ffff00;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  /*Text Stoke : https://css-tricks.com/adding-stroke-to-web-text/*/
  }


/******************** From CodePen ********************/

body {
  height: 100%;
  width: 100%;
  /*
  margin: 0;
  background-color: #45d678;
  font-family: sans-serif;
  */
  font-family: '3MCircularFontBook', 'Jua', sans-serif;
}

#minioutput{
  background-color: #000;
  /* width: 312px; 
  height: 200px;*/
  color: #FFF;
  /* left: 12%; */
  /* position: relative; */
  margin-bottom: 20px;
  /* text-align: center; */
  /* padding: 10px; */
}

span#myoutput i {
  color: red;
}

#game-div{
  position: relative;
  width: 100%;
  height: 75vh;
  background-image: url('../images/coming-soon-home.JPG');
  overflow: hidden;
  background-size:100% 100%;
  border-style: solid;
  border-width: 7px;
  
}

#game-rb-area{
 position: absolute;
width: 100%; 
bottom: 0;
/*background-image: url('https://image.ibb.co/d8Uip8/basureros.png');*/
}

.trashItem{
  position: absolute;
  height: 60px;
  width: 60px;
  /*
  66:original
  109px:tamanho que le da el basurero en monitor grande...
  -78 se salen cosas todavia
  */
  background-repeat: no-repeat, repeat;
  /*border-radius: 5px;*/
  /*box-shadow: 0px 1px 8px 0px black;*/
 /*background-image: url('https://image.ibb.co/eYa1bo/plastic_bottle.png');/*Esto que lo haga en el JS*/
}

#trash_1{
  top: -100px;
  left: 0;
}


#playerscore, #time, #startCounter, #results_score{
/*
-webkit-text-stroke: 3px black;
 */
 font-size: 22px !important;
font-weight: 900;
 color: yellow;
 text-shadow:
     3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
/*Text Stoke : https://css-tricks.com/adding-stroke-to-web-text/*/
}

div#playerscore {
  text-align: right;
}

.visual_guide {
margin-top: 10px;
height: 50px;
width: 50px;
}

/*Time CSS*/

#time{
  text-align: right;
  color: yellow;
  padding-right: 15px;
}
#extraTimeImage{
  display:block; 
  text-align: right; 
  position: absolute; 
  right:0;
  margin-right: 3px;
  width:0;
  height:0;
}

.timeContainer {
  width:45px;
  height:20px;
}

#imgscore{
width:55px;
}

#imgscore{
width:55px;
}

.fullTrash{
  height: 100px;
  width: 70px;
  position: absolute;
  visibility: visible;
  left: -100px;
  z-index: 1;  
}

div#trash_1 {
 /* background-size: 66px;Default Dimension*/
  background-size: 100%;
}

#minioutput hr {
  margin: 5px auto;
}

#startCounter {
  position: absolute;
  top: 50%;
  left:50%;
  font-size: 50px !important;
  display: none;
  
}

#inputName, #inputUID {
  color: black;
}


/* Button css this can be changed*/
/*
#results_div{
  text-align: left; 
  padding-top: 170px;
  height: 100%; 
  padding-left: 33%; 
  padding-right: 33%;
  position: absolute; 
  z-index:11;
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
}
.blue:hover {
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
}
.blue:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
}



//google font subsetting, see Heydon Pickering's: http://www.sitepoint.com/joy-of-subsets-web-fonts/
@import url('//fonts.googleapis.com/css?family=Pacifico&text=Pure');
@import url('//fonts.googleapis.com/css?family=Roboto:700&text=css');
@import url('//fonts.googleapis.com/css?family=Kaushan+Script&text=!');

body { 
  min-height: 450px;
  height: 100vh;
  margin: 0;
  //background: radial-gradient(circle, darken(dodgerblue, 10%), #1f4f96, #1b2949, #000);
}

.stage {
  height: 300px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
  font: 60px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
  content: 'Game over!';
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px; 
  color: darken(#fff, 4%);
  letter-spacing: -2px;
  text-shadow: 4px 0 10px hsla(0, 0%, 0%, .13);
}

$i: 1;
$NUM_LAYERS: 20;
@for $i from 1 through $NUM_LAYERS {
  .layer:nth-child(#{$i}):after{
    transform: translateZ(($i - 1) * -1.5px);
  }
}

.layer:nth-child(n+#{round($NUM_LAYERS/2)}):after {
  
}

.layer:nth-child(n+#{round($NUM_LAYERS/2 + 1)}):after {
 
}

.layer:nth-child(n+#{round($NUM_LAYERS/2 + 2)}):after {
  
}

.layer:last-child:after {
  
}

.layer:first-child:after{
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% { transform: rotateY(-40deg) rotateX(-43deg); }
}

*/

/**
*
*
*
Media Queries
*/

/*Laptop Size*/

@media screen and (max-width: 1280px) {
  .logo {
    height: 50px;
  }

  .footer{
    height: 0;
    padding-top: 0;
  }

  .content {
    min-height: calc(98vh - 50px);
  }

}

/*Monitor Size*/
@media screen and (min-width: 1281px) and (max-width: 2000px) {
  .content {
    min-height: calc(94vh - 50px);
  }

  .statsection {
    padding-bottom: 80px;
  }

}